
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC');


  
  
  
  // THEME COLORS
  
  
  $black : #000000;
  
  $primary:rgb(39, 150, 224);
  $primary-hover: rgb(39, 150, 224);
  $primary-active: rgb(39, 150, 224);

  

  
  $secondary: #999999;
  $secondary-hover: #727a84;
  $secondary-active: #42484e;
  
  $dark: #212529;
  $light: rgba(250,250,250,1);
  $white: #FFFFFF;
  
  $theme-colors:();
  $theme-colors: map-merge((
    "primary":    $primary,
    "primary-hover": $primary-hover,
    "Primary-active": $primary-active,
    "light":      $light,
    "dark":       $dark,
    "white": $white,
    "black": $black
  ), $theme-colors);
  
  $font-family-NotoSansTC:          'Noto Sans TC';
  $font-family-base:            $font-family-NotoSansTC;
  
  $font-size-base:    1rem; //1rem=16px
  
  $h1-font-size:                $font-size-base * 2.5;
  $h2-font-size:                $font-size-base * 1.5625 ;
  $h3-font-size:                $font-size-base * 1.25;
  $h4-font-size:                $font-size-base * 1.125 ;
  
  
  $font-weight-light:           300 ;
  $font-weight-normal:          400 ;
  $font-weight-bold:            500 ;
  $font-weight-base:            $font-weight-normal;
  $line-height-base:  1.5 ;
  
  $grid-gutter-width:           30px;
  
  $spacer: 1rem;
  $spacers: (
    0: 0,
    1: ($spacer * .25),
    2: ($spacer * .5),
    3: $spacer,
    4: ($spacer * 1.5),
    5: ($spacer * 3)
  );
  
  $headings-margin-bottom:      0;
  //$navbar-padding-y : 0;
  //$navbar-padding-x : 0;
  
  $list-group-active-border-color:none;
  //$list-group-item-padding-y :1rem;
  //$list-group-item-padding-x :2rem;
  $list-group-border-width:0;
  $list-group-border-color:none;
  
  $border-width: 1px;
  
  $box-shadow-sm:              -1px 1px 2px 2px rgba($black, 0.06); 
  $box-shadow:                  0 .5rem 1rem rgba($black, .15);
  $box-shadow-lg:               0 1rem 3rem rgba($black, .175);
  
  $grid-gutter-width:   30px;
  
  $input-border-width: 0px;
  $input-box-shadow: inset 1px 1px 1px 2px rgba(0,0,0,0.08);
  $input-focus-box-shadow: 0px 0px 1px 3px rgba($primary,0.4) , $input-box-shadow;
  