
#info-panel{
  width:300px;
}
.rest-icon{
  width:100px;
  height:80px;
  flex-shrink:0;
  background-position: 50% 50%;
  background-size: cover;
  background-color:black;
}
@media only screen and (max-width: 768px) {
  #info-panel{
    width:100%;
    height:50%;
    border-top:2px solid grey ;
  }
  #map{
    height:50%;
  }
}